$primary-color : #00b0ff;
$primary-light : #69e2ff;
$primary-dark : #0081cb;

$secondary-color : #b3e5fc;
$secondary-light : #e6ffff;
$secondary-dark : #82b3c9;

$font-color-nomal : rgba(0,0,0,0.7);
$font-color-light : rgba(0,0,0,0.9);
$font-color-dark : rgba(255,255,255,0.9);

$font-size-large : 1.5em;
$font-size-medium : 1em;
$font-size-small : 0.8em;

